<h3 matSubheader>Intitulé des exercices</h3>

<mat-action-list>
  @for (exo of tabExercice; track $index) {
  <button (click)="details(exo.id)" mat-list-item>
    <p>Exercice {{ exo.id }}: {{ exo.nom }}</p>
    <!-- | {{ exo.dateDeRendu }} | {{ !exo.rendu ? "Non r" : "R" }}endu -->
  </button>
  @if ($index +1 != tabExercice.length) {
  <mat-divider></mat-divider>
  } }
</mat-action-list>

@if(selectedExercice){
<app-detail-exercice
  [exercice]="selectedExercice"
  (changeRendu)="updateRendu($event)"
  (annuleRenduEmit)="updateRenduAnnule()"
>
</app-detail-exercice>
}@else {
<p>Cliquez sur un exercice pour en voirle detail</p>
}
