<mat-card>
  <mat-card-title>
    {{ exercice?.nom }}
  </mat-card-title>
  <mat-card-content>
    @if (exercice?.rendu) {
    <p>Ce trvail est rendu</p>

    <mat-card-actions>
      <button (click)="annuleRendu()">Annule le rendu</button>
    </mat-card-actions>

    }@else {
    {{ exercice?.dateDeRendu | date : "short" }}

    <mat-card-actions>
      <mat-checkbox (change)="rendu($event.checked)"
        >Rendu</mat-checkbox
      ></mat-card-actions
    >
    }
  </mat-card-content>
</mat-card>
